.nav-link:focus, .nav-link:hover {
    color: #be4622;
}
.nav-link {
    color: orange;
}
.sub-textSize{
    font-family: 14px !important;
}
.bg-dark {
    background-color: #212529!important;
    position: fixed !important;
    z-index: 1;
}
/* .flex-nowrap{
    flex-direction: row !important;
} */

.content-app {
    justify-content: flex-end !important;
}

.flex-container{
    display: flex;
    align-items: stretch;
}

.member-link:hover, .member-link:focus{
    color: #d9a23d;
}

.member-link{
    color: #e4be77;
}

